bin/
/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.test.exe
*.out
*.log
coverage.*
coverage.txt
*.coverprofile
profile.cov
vendor/
go.work
go.work.sum
.env
configs/config.yml
content.txt
.idea/
.vscode/
.github/
.task/
.golangci.yml
revive.toml